h1 {color: rgb(0, 0, 255); font-size: 36px; text-align: center;}
h2 {color: #00ff00; font-size: 28px; text-align: left; font-style: italic; text-decoration: underline;}
p {color: black; font-size: 18px; text-indent: 40px; line-height: 1.6; letter-spacing: 1.2px; word-spacing: 2.4px; }
a {color: blueviolet; text-decoration: none; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); letter-spacing: 1.1px; }
a:hover {color: red;}
a:visited {color: gray;}
li {color: brown;}