<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>practice</title>
  <link rel="stylesheet" href="./practice.css">
</head>
<body>
  <section>
    <h2>강아지 용품 준비하기</h2>
    <article class="at1">
      <h3>강아지 집</h3>
      <p>한국 수영의 간판 황선우가 29일 프랑스 파리 라데팡스 수영장에서 열린 20204 파리 하계올림픽 수영 남자 자유형 200m 준결승에서 레이스 중간에 크게 밀려 9위에 그치고 결승 진출에 실패했다. 지난 3차례 세계선수권에서 모두 결승에 올라 메달을 땄으나 올림픽에선 또 다시 좌절했다. 연합뉴스</p>
    </article>
    <article class="at2">
      <h3>강아지 집</h3>
      <p>한국 수영의 간판 황선우가 29일 프랑스 파리 라데팡스 수영장에서 열린 20204 파리 하계올림픽 수영 남자 자유형 200m 준결승에서 레이스 중간에 크게 밀려 9위에 그치고 결승 진출에 실패했다. 지난 3차례 세계선수권에서 모두 결승에 올라 메달을 땄으나 올림픽에선 또 다시 좌절했다. 연합뉴스</p>
    </article>
<div></div>
      <article class="at3">
        <h3>강아지 집</h3>
        <p>한국 수영의 간판 황선우가 29일 프랑스 파리 라데팡스 수영장에서 열린 20204 파리 하계올림픽 수영 남자 자유형 200m 준결승에서 레이스 중간에 크게 밀려 9위에 그치고 결승 진출에 실패했다. 지난 3차례 세계선수권에서 모두 결승에 올라 메달을 땄으나 올림픽에선 또 다시 좌절했다. 연합뉴스</p>
      </article>
      <article class="at4">
        <h3>강아지 집</h3>
        <p>한국 수영의 간판 황선우가 29일 프랑스 파리 라데팡스 수영장에서 열린 20204 파리 하계올림픽 수영 남자 자유형 200m 준결승에서 레이스 중간에 크게 밀려 9위에 그치고 결승 진출에 실패했다. 연합뉴스</p>
      </article>
  </section>
  <footer>
    <p>boxmodel 연습하기</p>
    <nav>
      <ul>
        <li><a href="#">메뉴 1</a></li>
        <li><a href="#">메뉴 2</a></li>
        <li><a href="#">메뉴 3</a></li>
        <li><a href="#">메뉴 4</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>